* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(98, 3, 207);
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.subtitle {
  display: flex;
  justify-content: center;
  color: white;
}

.button-main {
  display: flex;
  justify-content: center;
}

.button-header-main {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  background-color: aqua;
  font-size: 19px;
  cursor: pointer;
}

.button-header-main:hover {
  background: linear-gradient(
    155.88deg,
    #ffed00 0%,
    #ff3dfe 51.89%,
    #5253ff 100%
  );
}

.content {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

footer {
  background-color: rgb(24, 23, 23);
  color: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

.div-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  width: 1000px;
  padding: 80px;
}

.plain {
  color: white;
  font-weight: normal;
  /* font: sans-serif; */
}
.phone {
  font: /*bold*/ 30px "Optima", sans-serif;
  color: white;
  font-weight: normal;
}

.phone-note {
  font: bold 15px sans-serif;
  color: white;
  font-weight: normal;
}

.work {
  font: bold 15px sans-serif;
  color: white;
  font-weight: normal;
}

.allrire {
  padding: 10px;
}

.allrire-p {
  font-weight: normal;
  color: grey;
  font-family: sans-serif;
}

p {
  font:  bold 16px/1.5 "Optima", sans-serif;
  color: rgb(0, 0, 0);
}

h2 {
  font: 20px/1.5 "Optima", sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  font: 30px/1.5 "Optima", sans-serif;
  color: rgb(0, 0, 0);
}

.logo {
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
}

/* .price-image:hover {
    
    width: 800px;
    height: auto;
  } 

.price-image:active {
  width: 800px;
  height: auto;
}*/

.horisontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  /*height: 500px; */
  /* display: inline; */
  color: white;
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.horisontal-menu-point {
  /* display: block; */
  /* display: inline; */
  padding: 9px;
  height: 80px;
  background-color: #7790ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 2px;
}

.horisontal-menu-point:hover {
  background-color: #5253ff;
  font-size: 30px;
}

.horisontal-menu-way,
.horisontal-menu-point {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  width: 295px;
  display: flex;
  justify-content: center;
}

.horisontal-menu-point.active {
  background-color: rgba(240, 0, 0, 0.144);
  font-size: 30px;
}

/* .price-image:active { 
  width: 100%;
  height: auto;
}*/

.price-image {
  display: flex;
}

.price-button {
  width: 300px;
  height: 30px;
  font: 16px/1.5 "Optima", sans-serif;
  color: rgb(0, 0, 0);
  background-color: #7790ff;
  border-radius: 5px;
}

.price-button-div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }
.price-button {
  font-size: 17px;
  height: auto;
}

  .price-image {
    width: 100%;
    height: auto;
  }

  .div-footer {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  .plain-work-div {
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .horisontal-menu-point {
    width: 100%;
  }

  .subtitle {
    font-size: 25px;
  }

  .price-image {
    width: 100%;
    height: auto;
  }

  .div-footer {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  .plain-work-div {
    margin-top: 15px;
  }
}

@media screen and (max-width: 425px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .horisontal-menu-point {
    width: 100%;
  }

  .subtitle {
    font-size: 25px;
  }

  .price-image {
    width: 100%;
    height: auto;
  }

  .div-footer {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  .plain-work-div {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .price-image {
    width: 100%;
    height: auto;
  }

  .div-footer {
  justify-content: space-evenly;
  }
}

@media screen and (max-width: 1024px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .price-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1440px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .subtitle {
    font-size: 30px;
  }

  .price-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 2560px) {
  .horisontal-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .price-image {
    width: 100%;
    height: auto;
  }

  h1,
  h2 {
    font-size: 40px;
  }

  .horisontal-menu-point {
    font-size: 30px;
  }
}
